Package: enigma2-plugin-skins-Aglare-FHD-CBL
Version: 3.4 
Section: base
Priority: required
Architecture: all
Maintainer: mnasr
Description: enigma2-plugin-skins-Aglare-FHD-CBL
Source: enigma2-plugin-skins-Aglare-FHD-CBL.bb
Depends: enigma2-plugin-extensions-bitrate 
Homepage: 
OE: enigma2-plugin-skins-Aglare-FHD-CBL
License: GPLv2+
